// Fonts
/*@import url('https://fonts.googleapis.com/css?family=Nunito');*/

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {

}

#wrapper{
     width:100%;
}

.new {
    border: solid 1px #ccc;
    margin-top: 20px;
}

.new > a {
    display:inline-block;
    border-radius: 50%;
    border: solid 1px #fff;
    font-size: 4vw;
    padding: 0.6vw 3vw 1vw 3vw;
    margin:5px 0;
    color:#000;
}

.new:hover a {
     border: solid 1px #000;
     text-decoration:none !important;
}

.box {
    border: solid 1px #ccc;
    margin-top: 20px;
    
}

.box > a {
    display:inline-block;
    color:#fff;
    padding:1.1vw 0vw;
    margin:2.4vw 2vw; 
    text-decoration:none;
    width:20vw;
    forn-size:2vw;
}

.box > a:hover {
    text-decoration:underline;
}

#grid-form{
    width:100%;
}

.error{
    outline:0;
    border: 1px solid red;
}

i.fas{
    margin-top:5px;
}
.error-message{
   height:1vw;
}



